* {
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
p {
    font-size: 18px;
}
html {
    background-color: #141619;
}
h1, h2 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
.mainBox {
    background-color: #B3B4BD;
    border-radius: 30px;
    padding: 10px;
    margin: 20px 30px;
    border: solid 20px #0A21C0;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}
.outerBox {
    background-color: #0A21C0;
    border-radius: 80px;
    padding: 1px;
    margin: 5px;
    color: #eceeff;
    border: solid 3px black;
}
.innerBox {
    background-color: #B3B4BD;
    color: black;
    margin: 16px;
}
h2 {
    margin: 5px;
}
.accordion { /* inspired by https://www.w3schools.com/howto/howto_js_accordion.asp */
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
    flex: 1;
    display: flex;
    align-items: center;
    border: 2px solid #0A21C0;
    font-size: x-large;
    overflow-y: auto;
}
.accordion:hover, .active {
    background-color: #ccc;
    border-bottom: 2px solid #0A21C0;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    flex: 1;
}

.panel p{
    color:black;
}
