
#logo {
    max-height: 85px; 
    width: auto;       
  }
  .topnav { /* inspired by https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
    background-color: gray;
    overflow: hidden;
    /* display: flex;
    justify-content: flex-start; */
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .topnav a:hover {
    background-color: green;
    color: black;
  }
  
  .topnav a.active {
    background-color: blue;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  

  @media screen and (max-width: 600px) {
    .topnav a:not(.stay) {
        display: none; 
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive #darkMode{
      position: absolute;
      left: 76px;
      top: 0;
    }
}
  input[type=text] {
    border: 1px solid black;
    width: auto;
    font-size: xx-large;
  }
