{% extends "base_template.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js/minified/introjs.min.css">
{% endblock %}

{% block beginning %}  
    <div class="topnav" id="myTopnav">
        <a href="index" class="active stay">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <a href="recommendations.html" data-intro="Here is where you can get recommendation based on a list of games"
        data-step="3">Recommendations</a>
        <a href="javascript:void(0);" onclick="startTour()">Tour</a>
        <a script="javascript:void(0);" class="icon" onclick="hamburger()">
            <i class="fa fa-bars"></i>
        </a>
        <a onclick="toggleDarkMode()" class="stay" id = "darkMode"><i class="fa-solid fa-sun" id = "sunMoon"></i></a>
    </div>

    <h1 id = "title">Game Fetch</h1>
        <div id = "subtitle">
            <h3>Welcome to Game Fetch, we find games catered to your tastes! </h3>
            <p> 
                Game Fetch is a steam game recommendation website that makes finding games you love easy:
                Enter a game you love, filter based upon steam tags, online player base, or rating, 
                and get back games you’ll love!
            </p>
        </div>
        <div id = "searchBar">
            <div id="searchBarPopup">
                <input type="text" placeholder="Game Search" id="gameSearch" oninput="showDropdown()"
                 data-intro="This is the home game recommendation search where you can get recommendation for a specific game!" data-step="1"/>
                <div id="gameSelectIndex" style = "display: none;"></div>
            </div>

            <button class = "seachButton" id = "base_search" onclick = "submitGames()">
                <i class="fa-solid fa-magnifying-glass"></i>  <!-- got the onclick for button from here https://stackoverflow.com/questions/2906582/how-do-i-create-an-html-button-that-acts-like-a-link -->
            </button>  

            <button class = "seachButton" id = "filter" onclick = "openPop()"
            data-intro="Here you can filter the recommendations based upon player base time spent" data-step="2">
             <i class="fa-solid fa-filter"></i> </button> 
            <!-- popup https://www.geeksforgeeks.org/how-to-open-a-popup-on-click-using-javascript/-->

            <div id="popupDialogue">
                <p>
                    <label>Popular Tags: </label>
                    <select name="gameTags" id="gameTagsPopup"> <!--made using https://www.w3schools.com/tags/tag_select.asp-->
                        <option value="indie">indie</option>
                        <option value="action">action</option>
                        <option value="adventure">adventure</option>
                        <option value="casual">casual</option>
                        <option value="RPG">RPG</option>
                    </select>
                </p>
                <p>
                    <label>Minimum Rating (out of 5): </label><input type="number" min="0" max = "5" step=".1"> <!--made using https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#-->
                </p>

                <p>   
                    <label>Filter Players by Play Time: <input type="number" min="1" max ="100" id = "percent">%</label>
                </p>

                <p id = "filterButtons">

                    <button onclick = "submitGames()">
                        Search
                    </button>
                    <button onclick="openPop()">
                        Close
                    </button>
                </p>
            </div>
        </div>
        <div id="gamesContainer"></div>
        <p></p>
        <!-- gottent from https://www.w3schools.com/howto/howto_js_slideshow.asp-->
        <div class="slideshow-container">
            <div id="gameSlideInfo">
                <h2 class="game-name">Game Title</h2>
                <p class="game-info">Game Info</p>
            </div>
            <div class="divider"></div> <!-- Slanted divider -->
            <div id="slideshow-images">
                <div class="mySlides fade">
                    <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/730/header.jpg?t=1719426374">
                </div>
                <div class="mySlides fade">
                    <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/2000890/header.jpg?t=1729123005">
                </div>
                <div class="mySlides fade">
                    <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1790600/header.jpg?t=1729145174">
                </div>
                <div class="mySlides fade">
                    <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/359550/header.jpg?t=1719504498">
                </div>
                <div class="mySlides fade">
                    <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/381210/header.jpg?t=1727894560">
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
{% endblock %}

{% block script %}


<script src="https://cdn.jsdelivr.net/npm/intro.js/minified/intro.min.js"></script>
<script>
    function startTour() {
        introJs()
            .setOptions({
                steps: [
                    {
                        intro: "Welcome to Game Fetch! Let's take a quick tour."
                    },
                    {
                        element: '#gameSearch',
                        intro: "This is the search bar for finding game recommendations!"
                    },
                    {
                        element: '#filter',
                        intro: "Here you can filter games based on various criteria."
                    },
                    {
                        element: 'a[href="recommendations.html"]',
                        intro: "Click here to explore our game recommendations!"
                    }
                ],
                doneLabel: 'Go to Recommendations'
            })
            .oncomplete(function() {
                sessionStorage.setItem('tour', 'TRUE');
                window.location.replace('recommendations.html');
            })
            .start();
    }
</script>

    <script>
        let allGames = [];
        let filteredGames = [];
    
        // Fetch games list from file
        fetch('static/games.txt')
            .then(function(response) {
                return response.text();
            })
            .then(function(data) {
                let games = data.split('\n');
                for (let game of games) {
                    if (game.trim()) {
                        allGames.push(game.trim());
                    }
                }
                allGames.sort();
                filteredGames = allGames;
                updateGameSelect();
            });
    
        function showDropdown() {
            const searchInput = document.getElementById('gameSearch');
            searchGames();
    
            const gameSelect = document.getElementById('gameSelectIndex');
            gameSelect.style.display = filteredGames.length ? 'block' : 'none';
        }
    
        function searchGames() {
            const searchText = document.getElementById('gameSearch').value.toLowerCase();
            filteredGames = allGames.filter(game => game.toLowerCase().includes(searchText));
            updateGameSelect();
        }

        function updateGameSelect() {
            const select = document.getElementById('gameSelectIndex');
            select.innerHTML = ''; 
    
            if (filteredGames.length === 0) {
                select.style.display = 'none';
                return;
            }
    
            filteredGames.forEach(game => {
                const optionDiv = document.createElement('div');
                optionDiv.textContent = game;
                optionDiv.classList.add('dropdown-option'); 
                optionDiv.onclick = function() {
                    document.getElementById('gameSearch').value = game;
                    select.style.display = 'none';
                };
                select.appendChild(optionDiv);
            });
    
            select.style.display = 'block'; 
        }

        // Add click event listener to the entire document
        document.addEventListener('click', function(event) {
            const searchBarPopup = document.getElementById('searchBarPopup');
            const gameSelect = document.getElementById('gameSelectIndex');
            
            // If the click is not within the searchBarPopup (which includes the input and dropdown)
            if (!searchBarPopup.contains(event.target)) {
                gameSelect.style.display = 'none';
            }
        });

        function submitGames() {
            // var loadingIndicator = document.getElementById('loadingIndicator');
            // loadingIndicator.style.display = 'block';
            var game =  document.getElementById('gameSearch').value;
            var percent = parseFloat(document.getElementById('percent').value);
            console.log(percent)
            console.log(typeof percent)
            fetch('get_available_games', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                mode: 'cors',
                body: JSON.stringify({'game' : game, 'percent': percent})
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                // loadingIndicator.style.display = 'none';
                console.log(78)
                let slideshow = document.getElementsByClassName('slideshow-container')[0];
                slideshow.style.display = 'none';
                document.getElementById('gamesContainer').innerHTML = createGameTimeline(data.games);
            });
        }

        function createGameTimeline(games) {
            var html = '';
            console.log(games);
            for (var i = 0; i < games.length; i++) {
                var game = games[i];
                console.log(game);
                var sectionClass = 'timeline-section';
                if (i % 2 === 0) {
                    sectionClass += ' left';
                } else {
                    sectionClass += ' right';
                }
                
                html += 
                    '<section class="' + sectionClass + '">' +
                        '<div class="content">' +
                            '<h2>' + game.name + '</h2>' +
                            '<p>AppID: ' + game.appid + '</p>' +
                            '<a href="/game_page/' + game.appid + '" class="btn" target="_blank">View Game Page</a>' +
                        '</div>' +
                        '<div class="image">' +
                            '<img src="https://steamcdn-a.akamaihd.net/steam/apps/' + game.appid + '/header.jpg" alt="' + game.name + ' header image">' +
                        '</div>' +
                    '</section>';
            }
            return html;
        }
    </script>
{% endblock %}